<h2>Class List</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Url</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student %></td>
    <td><%= student.email %></td>
    <td><%= student.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Your Name', new_student_path %>
