body {
  background-color: #d1d1bc;
  color: #333;
}

body, p, ol, ul, td, a {
  font-family: helvetica, arial, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

div#wrapper {
  background-color: #fff;
  border: 4px solid #302c29;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #333;
  margin: 50px auto;
  padding: 20px 20px 40px 20px;
  width: 600px;
}

div#wrapper h1 {
  padding-bottom: 20px;
  text-align: center;
}

div#wrapper table {
  margin: 0 auto;
  width: 100%;
}

div#wrapper table th {
  text-align: left;
}

div#wrapper input {
  border: 1px solid #888;
  font-size: 14px;
  line-height: 18px;
}

div#wrapper textarea {
  border: 1px solid #888;
  font-size: 14px;
  height: 72px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #336; text-decoration: none; }
a:hover { text-decoration: underline; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}

