<!DOCTYPE html>
<html>
<head>
  <title>Classroll</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <h1>Welcome to Beginning Rails</h1>

<%= yield %>

  </div>
</body>
</html>
